<?xml version="1.0" encoding="utf-8"?>
<application type="WebimConfig" applicationName="Webim" configType="Spacebuilder.Webim.WebimConfig,Spacebuilder.Webim"
isopen="true"
version="1.0"
domain="spacebuilder.cn"
apikey="2e9d639da76de5a9"
host="webim20.cn"
port="8888">
</application>

<!--<isopen>true</isopen>
<versioin>1.0</versioin>
<domain>localhost</domain>
<apikey>public</apikey>
<host>192.168.0.145</host>
<port>8888</port>-->